<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> <td>09:00</td>  <td>The Unix Shell (file and directory operation)</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Database and SQL</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>12:30</td>  <td>Database and SQL</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Database and SQL</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Database and SQL</td> </tr>
      <tr> <td>12:15</td>  <td>Break</td> </tr>
      <tr> <td>12:45</td>  <td>Database and SQL</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>12:30</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
    </table>
  </div>
</div>
